<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostName" value="foo.test.com" />
    <add key="queueManagerName" value="TESTQM" />
    <add key="channel" value="SYSTEM.DEF.SVRCONN" />
    <add key="port" value="1414" />
    <add key="putSleepTimeMillisecs" value="1000" />
    <add key="getPollingTimeMillisecs" value="50" />
    <add key="iterations" value="1000" />
    <add key="queuePair1" value="TESTQ1,REPLYQ1" />
    <add key="queuePair2" value="TESTQ2,REPLYQ2" />
    <add key="queuePair3" value="TESTQ3,REPLYQ3" />
    <add key="queuePair4" value="TESTQ4,REPLYQ4" />
  </appSettings>
</configuration>