<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="foo.bar.com" />
    <add key="dbName" value="master" />
    <add key="userName" value="sa" />
    <add key="password" value="secret" />
    <add key="iterations" value="1000" />
    <add key="waitTimeMillisecs" value="10" /> 
    <add key="numThreads" value="10" />
  </appSettings>
</configuration>